<div class="container-fluid">
  <div class="row align-items-end">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <h2>
              Lista
            </h2>
          </div>
        </div>
        <div class="card-body">
          <div class="card-content">
            <form [formGroup]="formBlog">
              <div class="form-row align-items-end">
                <div class="col-6">
                  <div class="form-group">
                    <label for="email">Nombre de la lista</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="nombre"
                      id="nombre"
                      required
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="email">Descripcion</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="descripcion"
                      id="descripcion"
                      required
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="email">Desde</label>
                    <input
                      type="date"
                      class="form-control"
                      formControlName="desde"
                      id="desde"
                      required
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="email">Hasta</label>
                    <input
                      type="date"
                      class="form-control"
                      formControlName="hasta"
                      id="hasta"
                      required
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="email">Estatus</label>
                    <select class="form-control" formControlName="status">
                      <option value="0">
                        Inactivo
                      </option>
                      <option value="1">
                        Activo
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="file">Agregar imagen o video</label>
                    <input
                      type="file"
                      accept="image/jpeg, image/png, .jpg, .jpeg, .png, .mp4"
                      class="form-control"
                      formControlName="archivo"
                      (change)="onFileChange($event)"
                      id="archivo"
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div *ngFor="let im of filesSelect; let i = index" class="col-md-2 text-center">
                
                  <img *ngIf="im.tipo != 'video/mp4'" [src]="im.imagen_mostrar" width="70" height="auto" class="margin-b-10">
                  <img *ngIf="im.tipo == 'video/mp4'" src="assets/img/icon_video.png" width="70" height="auto" class="margin-b-10">
                
                <br>
                <button
                    type="button"
                    class="btn btn-raised btn-danger" 
                    (click)="del(i)"
                  >
                  <a class="ft-trash" style="color:white"></a>
                </button>
                </div>
                </div>
              <div class="row">
                <div
                  class="col-auto my-2"
                  *ngIf="(blogToEdit$ | async)?.id; else noEditMode"
                >
                  <button
                    type="button"
                    class="btn btn-raised btn-primary"
                    [disabled]="formBlog.invalid"
                    (click)="edit()"
                  >
                    Editar
                  </button>
                </div>
                <ng-template #noEditMode>
                  <div class="col-auto my-2">
                    <button
                      type="button"
                      class="btn btn-raised btn-primary"
                      [disabled]="formBlog.invalid"
                      (click)="add()"
                    >
                      Enviar
                    </button>
                  </div>
                </ng-template>

                <div class="col-auto my-2">
                  <button
                    type="button"
                    class="btn btn-raised btn-warning"
                    [disabled]="!formBlog.dirty"
                    (click)="formBlog.reset()"
                  >
                    Limpiar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
